<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>get info</title>
</head>
<body>

<div>This is Check up</div>

<div th:id="*{item}" th:each="item:*{field.manual_field}">
    <div th:text="${item.key}">
    </div>
    <div th:each="v:${item.value}">
        <div th:text="*{v}"></div>
    </div>
</div>

<hr>

<div th:id="*{item}" th:each="item:*{field.custom_field}">
    <div th:text="${item.key}">
    </div>
    <div th:each="v:${item.value}">
        <div th:text="*{v}"></div>
    </div>
</div>

<hr>

<div th:id="*{item}" th:each="item:*{field.manual_percent}">
    <div th:text="${item.key}">
    </div>
    <div th:each="v:${item.value}">
        <div th:text="*{v}"></div>
    </div>
</div>

<hr>

<div th:id="*{item}" th:each="item:*{field.custom_percent}">
    <div th:text="${item.key}">
    </div>
    <div th:each="v:${item.value}">
        <div th:text="*{v}"></div>
    </div>
</div>

</body>
</html>