
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
</head>
<body>

    <div>This is Home</div>
    <div th:object="${member}" >
        <div><span th:if="*{accessToken != 'ANONYMOUS'}"
                   th:text="Welcome + ' ' + ${member.email}"></span></div>
        <div><a href="/setupprice" th:if="*{accessToken != 'ANONYMOUS'}">First: Go to Setup</a></div>
        <div><a href="/getInfo" th:if="*{accessToken != 'ANONYMOUS'}">Second: Check up Setup</a></div>
        <div><a href="/config" th:if="*{accessToken != 'ANONYMOUS'}">Third: User Configuration</a></div>
        <div><a href="/openboard" th:if="*{accessToken != 'ANONYMOUS'}">Fourth: Open Board, Check out Other User's Info</a></div>
        <div><a href="/logout" th:if="*{accessToken != 'ANONYMOUS'}">Logout</a></div>
        <div><a href="/login" th:unless="*{accessToken != 'ANONYMOUS'}">Login</a></div>
    </div>

</body>
</html>