<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>set up</title>
    <link href="/css/setupPrice.css" rel="stylesheet">
</head>
<body>
    <form action="/" method="POST" id="setupForm">
        <div class="wrap-setupData" th:id="'wrap-'+*{v}" th:each="v, i : ${fieldGroup}">
            <div th:class="labelSetUpData" th:text="*{v}"></div>
            <input class="setupData" th:id="*{v}"/>
            <span th:if="*{v} != 'FINALTOTAL'" class="percent" th:id="*{v}+'_percent'"></span>
            <button th:if="*{v} != 'FINALTOTAL'" type="button" th:class="addButton" th:id="*{v}+'_add'" > Add Element</button>
            <div th:if="*{v} != 'FINALTOTAL'" th:id="*{v}+'_child'"></div>
        </div>
        <div id="valid-overload"></div>
    </form>
    <div class="appended-items">

    </div>
    <button type="button" id="add" value="Add">Add</button>
    <button type="button" id="setupPriceSubmit" value="Submit">Submit</button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/setupScript/sendtoServ.js"></script>
    <script src="/js/setupScript/statsCalc.js"></script>
</body>
</html>